In [ ]:
In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [1]:
import pandas as pd

weather_table = {
    'id': [1, 2, 3, 4],
    'recordDate': ['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04'],
    'temperature': [10, 25, 20, 30]
}
temp_df = pd.DataFrame(weather_table)

temp_df['recordDate'] = pd.to_datetime(temp_df['recordDate'])

temp_df.sort_values(by='recordDate', inplace=True)

temp_df['prev_temp'] = temp_df['temperature'].shift(1)
filtered_df = temp_df[temp_df['temperature'] > temp_df['prev_temp']]

result_ids = filtered_df['id'].values
for id in result_ids:
    print(id)

2
4

In [2]:
import sqlite3

conn = sqlite3.connect(':memory:')

create_table = '''
CREATE TABLE Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
);
'''
conn.execute(create_table)

weather_table = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]
conn.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?);', weather_table)

sql_query = '''
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON julianday(w1.recordDate) - julianday(w2.recordDate) = 1
WHERE w1.temperature > w2.temperature;
'''

cursor = conn.cursor()
cursor.execute(sql_query)
result_ids = cursor.fetchall()

conn.close()

for id_tuple in result_ids:
    print(id_tuple[0])

2
4